{% extends "logintemplate.html" %}
{% block navbar %}
<ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Register</a></li>
  </ul>
{% endblock %}
{% block content %}
<center>
        <h1 class="font1">Signup using Username Password</h1>
        <form action="/signupresult" method="POST">
        <label for="uname" class="font1" style="font-size: 20px;">Username: </label>
        <input type="text" id="uname" name="uname">
        <br><br>
        <label for="pwd" class="font1" style="font-size: 20px;">Password: </label>
        <input type="password" id="pwd" name="pwd">
        <br> <br>
        <h4 class="font1" style="color:red;">{{pred}}</h4>
        <input class="specialbutton" type="submit" value="Submit">
</form>
</center>
{% endblock %}